NameVirtualHost *:80

{% for item in apache_documents %}
<VirtualHost *:80>
    ServerName {{ item.server_name }}
    DocumentRoot {{ item.document_root }}

    ErrorLog logs/{{ item.server_name }}_error_log
    CustomLog logs/{{ item.server_name }}_access_log combined
</VirtualHost>
<Directory {{ item.document_root }}>
    Require all granted
    AllowOverride All
</Directory>

{% endfor %}
